body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    background: black;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 2rem;
    background-image: url("card.png");
    color: transparent;
    -webkit-background-clip: text;


}